# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist
serviceAccount.json
.env

/*.sh

*.pem

server
coverage


# Service worker stuff
static/sw.js
firebase-auth-sw.js