/*=========================================================================================
  File Name: main.scss
  Description: Main scss file. Imports other scss partials from 'vuexy' folder
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/

@import 'vuexy/variables';

@import 'vuexy/layout';
@import 'vuexy/typography';
@import 'vuexy/misc';
@import 'vuexy/extraComponents';
@import 'vuexy/themes';
@import 'vuexy/transitions';

@import 'vuexy/customClasses';

// Vuesax fixes and enhancments
@import 'vuexy/fixesVuesax';

// Tailwind Fixes
@import 'vuexy/tailwindFix';

// rtl
@import 'vuexy/rtl';

// Custom components css
@import 'components/notes_md.scss';
@import 'components/modal.scss';

.content-popup {
  .vs-dialog--scroll .vs-dialog__content {
    max-height: calc(100vh - 200px);
  }

  .vs-dialog {
    min-width: 60vw !important;
    min-height: 60vh !important;
  }
}
.content-popup.no-footer {
  .vs-dialog--scroll .vs-dialog__content {
    max-height: calc(90vh);
  }
}

.vs-select__options {
  z-index: 1000000000;
}
.vs-loading {
  z-index: 10000000000;
}
.vs-select__option {
  max-height: fit-content !important;
}
