/*=========================================================================================
  File Name: main.scss
  Description: Main scss file. Imports other scss partials from 'vuexy' folder
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/

// Custom components css (namespace cleared)
@import 'components/notes_md.scss';
@import 'components/modal.scss';

//Fonts
@import 'fonts.css';

//OLD FROM MAIN.CSS
:root {
  --bg-aspect-ratio: calc(1356/898);
}

html {
  height: 100vh;
}

body {
  height: auto;
}

.flex {
  flex-grow: initial !important;
}