/*=========================================================================================
  File Name: _extraComponents.scss
  Description: partial - imports extra components styles
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/


@import "./extraComponents/awesomeSwiper";
@import "./extraComponents/formWizard";
@import "./extraComponents/vueSelect";
@import "./extraComponents/charts";
@import "./extraComponents/contextMenu";
@import "./extraComponents/quillEditor";
@import "./extraComponents/datePicker";
@import "./extraComponents/datetimePicker";
