#notes-screen-container {
  

  .sidebar-spacer {
    width: calc(260px);
    flex-shrink: 0;
    margin-left: 0;
    &.h-full {
      min-height : 100vh;

    }
  }
  #notes-content-overlay {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: opacity 0.7s;
    z-index: -1;
  }
}
#notes-screen-container.show-overlay {
  #notes-content-overlay {
    z-index: 1;
    opacity: 1;
  }
}
