@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Quicksand:wght@500&display=swap');

.text-title {
    font-family: 'Oswald', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@font-face {
    font-family: "ginger-bold";
    src: url("../font/HelveticaNowText-Bold.woff");
  }
  @font-face {
    font-family: "ginger-normal";
    src: url("../font/HelveticaNowText-Regular.woff");
  }
  @font-face {
    font-family: "ginger-light";
    src: url("../font/HelveticaNowText-Light.woff");
  }