@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Quicksand:wght@500&display=swap');
@import "../font/Helvetica/helveticaSheet.css";
@import "../font/Quicksand/quicksandSheet.css";
@import "../font/Source Code Pro/sourceCodeProSheet.css";


@font-face {
    font-family: "Oswald";
    src: url("../font/Oswald-VariableFont_wght.ttf"); 
}
@font-face {
    font-family: "Quicksand";   
    src: url("../font/Quicksand_Book.woff");    
}

@font-face {
  font-family: "ginger-bold";
  src: url("../font/HelveticaNowText-Bold.woff");
}
@font-face {
  font-family: "ginger-normal";
  src: url("../font/HelveticaNowText-Regular.woff");
}
@font-face {
  font-family: "ginger-light";
  src: url("../font/HelveticaNowText-Light.woff");
}


.text-title {
    font-family: 'Oswald', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}


.text-ginger-b
{
  font-family: "ginger-bold", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.text-ginger-l
{
  font-family: "ginger-light", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-ginger {
font-family: "ginger-normal", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}









