@keyframes flickerAnimation {
    0% {
        opacity:0;
   }
    50% {
        opacity:0.85;
   }
    100% {
        opacity:0;
   }
}
@-o-keyframes flickerAnimation{
    0% {
        opacity:0;
   }
    50% {
        opacity:0.85;
   }
    100% {
        opacity:0;
   }
}
@-moz-keyframes flickerAnimation{
    0% {
        opacity:0;
   }
    50% {
        opacity:0.85;
   }
    100% {
        opacity:0;
   }
}
@-webkit-keyframes flickerAnimation{
    0% {
        opacity:0;
   }
    50% {
        opacity:0.85;
   }
    100% {
        opacity:0;
   }
}
.animate-flicker {
    -webkit-animation: flickerAnimation 2.5s infinite;
    -moz-animation: flickerAnimation 2.5s infinite;
    -o-animation: flickerAnimation 2.5s infinite;
    animation: flickerAnimation 2.5s infinite;
}
.textInput {
    border:none;
    padding-left:0.3vw;
    width: 30vw;
    height: 2.5vw;
    font-size: 1vw;
    border-radius: 0.4vw;
    margin-top: 0;
    color:#42547d;
    background:#f6f9fc;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
    font-family:ginger-normal;
}
textarea {
    border:none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
    padding-left:0.3vw;
    padding-top:0.3vw;
    width: 30vw;
    height: 12vw;
    font-size: 1vw;
    border-radius: 0.4vw;
    margin-top: 0;
    color:#42547d;
    background:#f6f9fc;
    font-family:ginger-normal;
}
#submitForm {
    background:rgba(255,255,255,0.3);
    color:white;
    border:none;
    border-radius:2vw;
    padding:0.3vw 3vw;
    font-family:ginger-normal;
    font-weight: bold;
    font-size:1vw;
   margin-top:1vw;
    display:inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
}
.container3d {
    transform: translateZ(2vw);
    padding-top:2vw;
    width:80%;
    margin-left: 10%;
}
.background {
    position:absolute;
    height:55vw;
    width:100vw;
    background: url("../images/background2.jpg") no-repeat;
    background-size:100%;
}
.loadingLogo {
    background: linear-gradient(to right, #4a45f4, #df43c6);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size:10vw;
   margin-top:30vh 
}
#nav {
    height:4vw;
    width:100vw;
    margin-top:1vw;
}
#nav .logo {
    width:3vw;
    height:3vw;
    left:6vw;
}
.navRightContainer {
    right:8vw;
}
#nav .contact{
    font-size:1vw;
    border-radius:2vw;
    padding:0.35vw 2vw;
    background:white;
    color:#9c44db;
    font-weight: bold;
}
#nav .contact2{
    font-size:1vw;
    border-radius:2vw;
    padding:0.35vw 2vw;
    margin-left:2vw;
    color:white;
    background:rgba(255,255,255,0.1);
    font-weight: bold;
}
#splash {
    height:55vw;
}
#splash .mainContent {
    top:14vw;
    left:15vw;
    width:55vw;
}
#splash .mainContent h1{
    font-size:4.5vw;
    letter-spacing:-0.2vw;
    line-height:4.5vw;
    width:100%;
}
#splash .mainContent h2{
    margin-top:1.2vw;
    font-size:1.5vw;
    letter-spacing:-0.1vw;
    line-height:2vw;
    font-family:ginger-normal;
    width:50%;
}
#splash .mainContent .link1{
    font-size:1vw;
    margin-top:1.2vw;
    border-radius:2vw;
    padding:0vw 1.5vw;
    height:2.3vw;
    margin-left:1vw;
    font-weight: bold;
}
#splash .mainContent .link1 img{
    width:1.35vw;
    height:1.5vw;
    margin-right:0.5vw;
    display:inline;
}
#splash .mainContent .link2{
    font-size:1vw;
    margin-top:1vw;
    border-radius:2vw;
    padding:0vw 1.5vw;
    height:2.3vw;
    background:white;
    color:#5942f2;
    font-weight: bold;
}
#splash .scrollDown {
    top:85vh;
    opacity: 0;
}
#splash .scrollDown h1 {
    font-size:1.4vw;
}
#splash .scrollDown img {
    margin-top:1vw;
    width:2vw;
}
#aboutContent {
    width:100vw;
    height:80vw;
    overflow-x: hidden;
}

#aboutContent div {
    overflow-y: hidden;
}

#aboutContent .firstSection {
    margin-top: 3vw !important;
    margin-bottom: 3vw !important;
}

#aboutContent .secondSection {
    margin-bottom: 3vw !important;
}

#aboutContent .firstSection div, #aboutContent .secondSection div {
    height:35vw;
}

#aboutContent .textContent{
    width:50%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}

#aboutContent .left {
    padding-left: 10%;
}

#aboutContent .right {
    padding-right: 10%;
}

#aboutContent .textContent h1{
    font-size:3vw;
   padding-top:1vw;
   letter-spacing:-0.1vw;
}
#aboutContent .textContent p{
    font-size:1vw;
   padding-top:1vw;
}
#aboutContent .textContent i{
    font-size:1.6vw;
    color:#9c44db;
    margin-right: 1vw;
}
#aboutContent .textContent span{
    font-size:0.9vw;
    display: flex;
    flex-direction: row;
    align-items: flex-center;
}
#aboutContent .textContent a{
    border-radius:2vw;
   padding:0.3vw 2vw;
   font-size:1vw;
   margin-top:1vw;
   font-weight: bold;
}
#aboutContent .textContent h3{
    font-size:2vw;
   padding-top:1vw;
}
#aboutContent .textContent h4{
    margin-top:4vw;
   font-size:1.1vw;
}
.leftDiv {
    width:50%;
}
.rightDiv {
    width:50%;
}
.rightDiv img {
    width:90%;
}
#features {
    height:auto;
    width:100vw;
    background-color:#f6f9fc;
    display: flex;
    flex-direction: row;
}
#features .td1 {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#features .td2 {
    width:100%;
    z-index: 100;
    position: relative;
}
#features .featuresContainer {
    flex-direction: column;
}
#features .cardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:80%;
}
#features .cardsContainer .card{
    height:19vw;
   width:17vw;
   border-radius:1vw;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   z-index: 100;
    position: relative;
}
#features .cardsContainer .card h1{
    width:3vw;
   height:3vw;
   font-size:2vw;
   border-radius:10vw;
   padding-top:0.25vw;
}
#features .cardsContainer .card h3{
    font-size:1vw;
   padding-top:1vw;
}
#features .cardsContainer .card p{
    font-size:0.7vw;
   margin-top:1vw;
   line-height:0.75vw;
}
#features .vision {
    width:40vw;
    text-align: center;
}
#features .vision h1 {
    font-size:3vw;
   padding-top:1vw;
   letter-spacing:-0.1vw;
   color: #0a2540;
}
#features .vision p {
    font-size:1vw;
   padding-top:1vw;
   color: #0a2540;
}
#features .vision a{
    margin-top:1vw;
   font-size:1vw;
   border-radius:2vw;
   padding:0.35vw 2vw;
}
#beta {
    margin-top:0;
    height: 40vw;
}

#beta .circleBackground {
    background: radial-gradient(#df43c6, #8c3af0);
    width:90vw;
    height: 80vw;
    border-radius: 100%;
    position: absolute;
    right:0;
    z-index: 1;
    transform:translate(45%, -22%);
}


#beta .leftDiv {
    width:50%;
}
#beta .rightDiv {
    width:50%;
    margin-top:10vw;
    z-index: 100;
}
#beta .leftDiv .largeContainer {
   margin-left:10vw;
   margin-top:5vw;
   width:60%;
}
#beta .leftDiv .largeContainer h1 {
    font-size:2.5vw;
   padding-top:1vw;
   letter-spacing:-0.1vw;
   color:#0a2540;
   font-family: ginger-bold;
}

#beta .leftDiv .largeContainer p{
    font-size:1vw;
   padding-top:1vw;
   color:#0a2540;
   font-family: ginger-normal;
   letter-spacing: -0.05vw;
}
#beta .leftDiv .largeContainer .contribute{
    font-size: 0.9vw;
    font-family: ginger-normal;
    letter-spacing: -0.05vw;
    color:#0a2540;
}

#beta .leftDiv .largeContainer b {
    font-size:1.1vw;
    font-family: ginger-normal;
    letter-spacing: -0.05vw;
    color:#0a2540;
} 
#beta .joinUsContainer {
    display:flex;flex-direction:row;width:100%;
}
#footerContainer {
    overflow-y: hidden;
    z-index: 100;
    position: relative;
    margin-top:5vw;
    width:100vw;
    padding:6vw;
    background-image: url("../images/footer.jpg");
    background-size: 100% auto;
    text-align:center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#footerContainer h1{
    font-size:2.5vw;
    letter-spacing:-0.1vw;
    line-height:2.5vw;
    width:100%;
    font-family: ginger-bold;
    color:white;
}
#footerContainer p{
    margin-top:1.2vw;
    font-size:1.1vw;
    letter-spacing:-0.05vw;
    line-height:1.4vw;
    font-family:ginger-normal;
    width:50%;
    margin-left:25%;
    color:white;
}
#footerContainer button {
    font-size:1vw;
    margin-top:1vw;
    border-radius:2vw;
    padding:0vw 1.5vw;
    height:2.3vw;
    background:rgba(255,255,255,0.15);
    color:white;
    font-weight: bold;
}
#formArea {
    width:35vw;
   height:35vw;
}
#formSubmitted {
    width:35vw;
   height:35vw;
   margin-left:7.5vw;
}
@media only screen and (max-width: 767px) {
    #nav {
        height:12vw;
        width:100vw;
        margin-top:5vw;
   }
    #nav .logo {
        width:8vw;
        height:8vw;
        left:8vw;
   }
    #nav .contact{
        font-size:3vw;
        border-radius:6vw;
        padding:1vw 6vw;
   }
    #nav .contact2{
        font-size:3vw;
        border-radius:6vw;
        padding:1vw 6vw;
   }
    #splash {
        height:200vw;
   }
    .background {
        height:200vw;
        background-size:auto 100%;
   }
    #splash .mainContent {
        top:30vw;
        left:0;
        margin-left:50%;
        transform: translateX(-50%);
        width:80vw;
   }
    #splash .mainContent h1{
        font-size:10vw;
        letter-spacing:-0.2vw;
        line-height:10vw;
   }
   #splash .mainContent h2{
    margin-top:3vw;
    font-size:4vw;
    letter-spacing:-0.1vw;
    line-height:5vw;
    width:70%;
}
   #splash .mainContent .link1{
    font-size:3vw;
    margin-top:2vw;
    border-radius:6vw;
    padding:0vw 6vw;
    height:9vw;
    margin-left:0;
    margin-top:5vw;
}
    #splash .mainContent .link2{
        font-size:3vw;
        margin-top:2vw;
        border-radius:6vw;
        padding:0vw 6vw;
        height:9vw;
        margin-left:0;  
        color: #db43c8;
        margin-top:5vw;
    }
    #splash .mainContent .link1 img{
        width:5.5vw !important;
        height:6vw !important;
        margin-right:2vw !important;
    }
    #splash .scrollDown {
        top:160vw;
   }
    #splash .scrollDown h1 {
        font-size:4.2vw;
   }
    #splash .scrollDown img {
        margin-top:3vw;
        width:6vw;
   }
   .splashContainer {
       height:200vw;
       overflow-y:hidden;
   }
    #aboutContent {
        width:100vw;
        height:auto;
        flex-direction: column;
        overflow-y: hidden;
   }
   
   #aboutContent .firstSection {
    margin-top: 3vw !important;
    margin-bottom: 3vw !important;
    flex-direction: column-reverse !important;
    overflow-y: hidden;
}

#aboutContent .secondSection {
    margin-bottom: 3vw !important;
    flex-direction: column !important;
    overflow-y: hidden;
}
#aboutContent .firstSection div, #aboutContent .secondSection div {
    height:90vw;
    width:100vw;
    justify-content: center;
    overflow-y: hidden;
}
   #aboutContent .textContent{
    width:100vw;
    padding:0 10% !important;
    margin:0 !important;
    height: auto !important;
    overflow-y: hidden;
}
    #aboutContent .textContent h1{
        font-size:7vw;
        padding-top:3vw;
        letter-spacing:-0.1vw;
        margin-top: 10vw;
   }
    #aboutContent .textContent h2{
        font-size:4.5vw;
        padding-top:3vw;
   }
    #aboutContent .textContent p{
        font-size:3vw;
        padding-top:3vw;
   }
   #aboutContent .textContent i{
    font-size:4.5vw;
    color:#9c44db;
    margin-right: 1vw;
}
#aboutContent .textContent span{
    font-size:3vw;
    display: flex;
    flex-direction: row;
    align-items: flex-center;
}
    #aboutContent .textContent a{
        border-radius:6vw;
        padding:0.9vw 6vw;
        font-size:3vw;
        margin-top:3vw;
   }
    #aboutContent .textContent h3{
        font-size:6vw;
       padding-top:3vw;
   }
    #aboutContent .textContent h4{
        margin-top:4vw;
       font-size:3.3vw;
   }
    .leftDiv {
        width:100%;
   }
    .rightDiv {
        width:100%;
   }
    .rightDiv img {
        width:90%;
        margin-top:10vw;
   }
    #features {
        height:auto;
        width:100vw;
        margin-top:10vw;
   }
    #features .td1 {
        width:100%;
   }
    #features .td2 {
        width:100%;
   }
    #features .cardsContainer {
        margin-left:50%;
        transform: translateX(-50%);
        flex-direction: column !important;
        height:auto;
   }
   #features .cardsContainer tr {
       display: flex;
    flex-direction: column !important;
   }
   #features .cardsContainer tr td div .card{
    margin-left: 50%;
    transform: translateX(-50%);
}
    #features .cardsContainer .card{
        height:60vw;
       width:45vw;
       border-radius:3vw;
       margin-bottom:3vw;
       box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   }
    #features .cardsContainer .card h1{
        width:9vw;
       height:9vw;
       font-size:7vw;
       border-radius:30vw;
       padding-top:1vw;
       margin-top:1vw;
   }
    #features .cardsContainer .card h3{
        font-size:3.5vw;
       padding-top:3vw;
   }
    #features .cardsContainer .card p{
        font-size:2vw;
       margin-top:2vw;
       line-height:2vw;
   }
    #features .vision {
        width:80vw;
   }
    #features .vision h1 {
        font-size:9vw;
       padding-top:0vw;
       letter-spacing:-0.1vw;
   }
    #features .vision p {
        font-size:3vw;
       padding-top:3vw;
   }
    #features .vision a{
        margin-top:3vw;
       font-size:3vw;
       border-radius:6vw;
       padding:1vw 6vw;
   }
    #beta {
        margin-top:5vw;
        flex-direction: column;
        height: auto !important;
   }
    #beta .leftDiv {
        width:100%;
   }
   #beta .circleBackground {
    display: none;
}
    #beta .rightDiv {
        width:100%;
        margin-top:10vw;
   }
    #beta .leftDiv .largeContainer {
        margin-top:5vw;
        width: 75%;
        margin-left: 50%;
        transform: translateX(-50%);
        text-align: center;
   }
    #beta .leftDiv .largeContainer h1 {
        font-size:7.5vw;
       padding-top:3vw;
       letter-spacing:-0.1vw;
   }
    #beta .leftDiv .largeContainer .marginTop2 {
        margin-top:6vw;
   }
    #beta .leftDiv .largeContainer p{
        font-size:3vw;
       padding-top:3vw;
   }
    #beta .leftDiv .largeContainer a{
        border-radius:6vw;
       padding:1vw 6vw;
       font-size:3vw;
       margin-top:3vw;
   }
   #beta .leftDiv .largeContainer .contribute{
    font-size: 3vw;
    letter-spacing: -0.05vw;
    line-height:4vw !important;
}
#beta .leftDiv .largeContainer .section2{
    margin-top:4vw !important;
}



#beta .leftDiv .largeContainer b {
    font-size:4vw;
    letter-spacing: -0.05vw;
    margin-bottom: 2vw !important;
} 
#beta .joinUsContainer {
    display:flex;flex-direction:column;width:100%;
    align-items: center;
}
#beta .joinUsContainer div {
    width:100% !important;
    margin:0 !important;
}

    #beta .rightDiv h1{
        font-size:7.5vw;
       padding-top:3vw;
       letter-spacing:-0.1vw;
       margin-bottom:6vw;
   }
    #beta .rightDiv .imageContainer{
        margin-top:9vw;
   }
    #beta .rightDiv .imageContainer img{
        width:12vw;
   }
    #beta .rightDiv .imageContainer .image2{
        margin-left:6vw;
   }
    #footerContainer {
        margin-top:5vw;
   }
    #footerContainer .footer {
        width:100vw;
       height:15vw;
   }
   #footerContainer h1{
    font-size:6vw;
    line-height:6vw;
}
#footerContainer {
    background-size: 100% 100%;
}
#footerContainer p{
    margin-top:3vw;
    font-size:2.5vw;
    line-height: 3vw;
    margin-left:10% !important;
    width: 80%;
}
#footerContainer button {
    font-size:3vw;
    margin-top:3vw;
    padding:0.5vw 3vw;
    height:5vw;
}
    .textInput {
        border:none;
        padding-left:0.9vw;
        width: 90vw;
        height: 7.5vw;
        font-size: 3vw;
        border-radius: 1.2vw;
        margin-top: 0;
        color:#42547d;
        background:#f6f9fc;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
   }
    textarea {
        border:none;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
        padding-left:0.9vw;
        width: 90vw;
        height: 36vw;
        font-size: 3vw;
        border-radius: 1.2vw;
        margin-top: 0;
        color:#42547d;
        background:#f6f9fc;
   }
    #submitForm {
        background-color:#6b3deb;
        color:white;
        border:none;
        border-radius:6vw;
        padding:0.9vw;
        width:60vw;
        font-family:ginger-bold;
        font-size:3vw;
       margin-top:3vw;
        display:inline-block;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
   }
    #formArea {
        width:90vw;
       height:85vw;
   }
    #formSubmitted {
        width:40vw;
       height:90vw;
       margin-left:5vw;
   }
}
